.question {
	&__answer {
		display: none;

		background-color: #eeeeee;
		padding: 20px;
		margin: 10px auto;
		border-radius: 5px;
		
		&.is-visible {
			display: block;
		}
	}
}
.table-wrapper {
	width: 100%;
	overflow: auto;
}
/*mathJax fix*/
.MathJax_Display {
    display: block;
    max-width: 100%;
    overflow-x: auto;
}



.navigation-wrapper {
	.navigation-wrapper__item {
		&--next {
		    position: fixed;
		    right: 0;
		    width: 90px;
		    height: 90px;
		    background-color: rgba(200, 200, 200, 0.3);
		    top: calc(50% - 45px);
		    
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    
		    font-family: "Arial";
		    color: #aaa;
		    font-size: 30px;
		    
		    transition: 0.3s all;

			&:hover {
				background-color: rgba(200, 200, 200, 0.4);
			}
		}
	 	&--prev {
		    position: fixed;
		    left: 0;
		    width: 90px;
		    height: 90px;
		    background-color: rgba(200, 200, 200, 0.3);
		    top: calc(50% - 45px);
		    
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    
		    font-family: "Arial";
		    color: #aaa;
		    font-size: 30px;
		    
		    transition: 0.3s all;

		    &:hover {
				background-color: rgba(200, 200, 200, 0.4);
			}
		}
	
		span {
			display: none;
		}
	}
}

@media (max-width: 800px){
	.navigation-wrapper {
		display: flex;
		width: 100%;
		.navigation-wrapper__item {
			position: static;
			width: 100%;
			height: 50px;
			border: 1px #ccc solid;
		}
		a {
			width: 50%;
		}
	}
}
