.question {
	&__answer {
		display: none;

		background-color: #eeeeee;
		padding: 20px;
		margin: 10px auto;
		border-radius: 5px;
		
		&.is-visible {
			display: block;
		}
	}
}
.table-wrapper {
	width: 100%;
	overflow: auto;
}