---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  
  <h2 class="post-list-heading">Главы</h2>

  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  
  <ul class="post-list">
  {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
  {% for p in navigation_pages %}
    {% if p.navigation_weight %}
      <li>
        <h3>
          <a class="post-link" href="{{ p.url | prepend:site.baseurl }}">{{ p.title | escape }}</a>
        </h3>
      </li>
    {% endif %}
  {% endfor %}
  </ul>
</div>
 